<div class="form-inline">
<div class="form-group">

<%= form_for(test)  do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="input-group">

    Name:    <%= f.text_field :name, :class => "form-control" %>
    <br><br>
    Contact: <%= f.text_field :contact, :class => "form-control" %>
    <br><br>
    Email:   <%= f.text_field :email, :class => "form-control" %>
    <br><br>
    Message: <%= f.text_field :message, :class => "form-control" %>
  
<br><br><br><br>
  <div class="actions">
    <%= f.submit "Submit", :class => "form-control btn-primary" %>
  </div>
  </div>
  </div>
  </div>

<% end %>
